{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}

{% block body_block %}
    <div class="page-header">
                <h1>About</h1>
            </div>
            <div>
            <p>This is <strong>Rango's about page.</strong></p>
            <p>You've visited the site on <strong>{{ visits }} occasion(s).</strong></p>
            <p>Here's a funny image of Hadoop!</p>
            <img  width="400" height="250" src="{% static "images/img1.png" %}" alt="Picture of Rango" /> <!-- New line -->
            </div>
{% endblock %}