{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} Add Page {% endblock %}

{% block body_block %}
	{% if form_success %}
		<h4 class="form-signin-heading">Page added successfuly.</h4>
	{% endif %}
	{% if category %}
	<form role="form" id="page_form" method="post" action="{% url 'add_page' category.slug %}">
	<h2 class="form-signin-heading">Add a Page to <a href="{% url 'category' category.slug %}"> {{ category.name }}</a></h2>
		{% csrf_token %}
		{% for hidden in form.hidden_fields %}
			{{ hidden }}
		{% endfor %}

		{% for field in form.visible_fields %}
			{{ field.error }}
			{{ field.help_text }}
			{{ field }}
			<br/><br/>
		{% endfor %}
		 <br/>
            <button class="btn btn-primary" type="submit" name="submit">Add Page</button>
	</form>
	{%  else %}
            <p>This is category does not exist.</p>
    {%  endif %}
{% endblock %}