{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} Add Category {% endblock %}

{% block body_block %}
	{% if form_success %}
		<h4 class="form-signin-heading">Category created successfuly.</h4>
	{% endif %}
	<form role="form" id="category_form" method="post" action="{% url 'add_category' %}">
	<h2 class="form-signin-heading">Add Category</h2>
		{% csrf_token %}
		{% for hidden in form.hidden_fields %}
			{{ hidden }}
		{% endfor %}

		{% for field in form.visible_fields %}
			{{ field.error }}
			{{ field.help_text }}
			{{ field }}
			<br/><br/>
		{% endfor %}
		 <br/>
            <button class="btn btn-primary" type="submit" name="submit">Add Page</button>
	</form>
{% endblock %}