{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}
    <h1>{{ category_name }}</h1>
    {% if category %}
        <p>

        <strong id="like_count">{{ category.likes }}</strong> people like this category

        {% if user.is_authenticated %}
                <button id="likes" data-catid="{{category.id}}" class="btn btn-primary" type="button">
                <span class="glyphicon glyphicon-thumbs-up"></span>
                Like
                </button>
        {% endif %}

        </p>
        {% if pages %}
        <ul>
            {% for page in pages %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>No pages currently in category.</strong>
        {% endif %}
        <a href="{% url 'add_page' category.slug %}">Add a Page in this Category</a><br />
    {% else %}
        The specified category {{ category_name }} does not exist!
    {% endif %}
{% endblock %}



{% comment %}
<!DOCTYPE html>
<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>{{ category_name }}</h1>
        {% if category %}
            {% if pages %}
            <ul>
                {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>No pages currently in category.</strong>
            {% endif %}
            <a href="/rango/category/{{ category.slug }}/add_page/">Add a Page in this Category</a><br />
        {% else %}
            The specified category {{ category_name }} does not exist!
        {% endif %}
    </body>
</html>

{% endcomment %}