{% if cats %}
    <ul class="nav nav-sidebar">
    {% for c in cats %}
    	{% if c == act_cat %}
    		<li class="active">
    	{% else %}
    		<li>
    	{% endif %}
    	<a href="{% url 'category'  c.slug %}">{{ c.name }}</a></li>
    {% endfor %}

{% else %}
    <li> <strong >There are no category present.</strong></li>

    </ul>
{% endif %}