{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block body_block %}
    {% if user.is_authenticated %}
        <div class="page-header">
            <h1>Rango says... hello {{ user.username }}!</h1>
    {% else %}
            <h1>Rango says... hello world!</h1>
        </div>
    {% endif %}
    <div class="row-placeholders">
        <div class="col-xs-12 col-sm-6 placeholder">
            <div class="panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Top Categories</h3>
                </div>
            </div>
            {% if categories %}
                <ul class="list-group">
                    {% for category in categories %}
                    <li class="list-group-item"><a href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <b>There are no categories present...</b>
            {% endif %}
        </div>
        <div class="col-xs-12 col-sm-6 placeholder">
            <div class="panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Top Pages</h3>
                </div>
            </div>
            {% if pages %}
                <ul class="list-group">
                    {% for page in pages %}
                    <li class="list-group-item">{{ page.title }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <b>There are no pages present...</b>
            {% endif %}
        </div>
    </div>

    
    <p>Visits: {{ visits }}</p>
{% endblock %}